{
#if($responseParam.isWeather())
"weather":
{"summary":"$responseParam.getWeather().getSummary()",
"temperature":$responseParam.getWeather().getTemperature(),
"apparentTemperature":$responseParam.getWeather().getApparentTemperature(),
"pressure":$responseParam.getWeather().getPressure(),
"windSpeed":$responseParam.getWeather().getWindSpeed(),
"windGust":$responseParam.getWeather().getWindGust(),
"icon":"$responseParam.getWeather().getIcon()"
}
    #if(($responseParam.isWeather() && $responseParam.isCurrency()) || ($responseParam.isWeather() && $responseParam.isLocation()))
    ,
    #end
#end



#if($responseParam.isCurrency())
"currency":
{
    "base":"$responseParam.getLocation().getCurrencyCode()",

    #set($count = 0)
    #set($size = $responseParam.getRateOfExchange().getCurrencies().keySet().size())

    #foreach($key in $responseParam.getRateOfExchange().getCurrencies().keySet())
    "$key":$responseParam.getRateOfExchange().getCurrencies().get($key)
        #if($count < $size - 1)
            ,
            #set($count = $count + 1)
        #end

    #end
}
    #if($responseParam.isLocation())
    ,
    #end
#end

#if($responseParam.isLocation())
"location":{
"date":"$responseParam.getLocation().getDate()",
"latitude":$responseParam.getLocation().getLatitude(),
"longitude":$responseParam.getLocation().getLongitude(),
"timeZone":"$responseParam.getLocation().getTimeZone()",
"isoCode":"$responseParam.getLocation().getCurrencyCode()",
"continent":"$responseParam.getLocation().getContinent()",
"country":"$responseParam.getLocation().getCountry()",
"city":"$responseParam.getLocation().getCity()"
}
#end


}